@import 'theme'
@import '../components/_header'
@import '../components/_buttons'
@import '../components/_main-page'
@import '../components/_recipe-page'
@import '../components/_add-recipe'
@import '../components/_pagination'
@import '../components/_search'
@import '../components/_arrow-up'
@import '../components/_footer'

html
  font-size: 16px
  line-height: 1.5
  overflow-x: hidden

body 
  width: 100vw

main
  position: relative
  padding: 0 9%
  margin: 0 0 2%

section
  margin-bottom: 1%

a:hover
  text-decoration: none

.flex
  display: flex
  justify-content: space-between
  flex-wrap: wrap

ul
  list-style: none
  padding-left: 0

@import 'media'