.add-recipe
  & h3
    margin-top: 2%
  & input, & textarea, & select
    border: none 
    font-size: 0.9rem
    background-color: transparent
    &:focus
      outline: none
    &::placeholder
      opacity: 0.5
      font-size: 0.9rem

  & input:not(input[type="file"])
    border-bottom: 1px solid $blue

  & .input-group__header
    font-weight: 600
    color: $grey
    margin-bottom: 2%
  
  & .warning
    font-size: 0.7rem
    color: $grey
    margin-bottom: 0


  & .img
    &-load
      &__label
        margin-bottom: 2%
      &__input
        cursor: pointer
        font-size: 0.9rem
        color: $blue
  
  & .btn_transparent
    font-size: 0.8rem
    opacity: 0.3
    padding: 0.5%
    &:hover
      opacity: 0.8

  & .right-context
    text-align: right
    & .btn
      margin-right: 0
  & .recipe
    &-info
      justify-content: center
      &__image, &__category, &__time, &__portions
        padding: 1.5% 1.5%
        border: 1px dashed $blue
        border-radius: 10px
        & .input-group__header
          text-align: center
      &__header
        flex-basis: 100%
        & .header__input
          font-size: 1.7rem
          margin-bottom: 3%
          width: 95%
          &::placeholder
            font-size: 1.5rem
        & ion-icon
          font-size: 1.5rem
          color: $grey        
      & .flex-wrapper
        flex-basis: 60%
        display: flex
        justify-content: center
        flex-wrap: wrap
        align-items: center
      &__category
        flex-basis: 25%
        margin-right: -5%
        & label
          display: block
          margin-bottom: 2%
          cursor: pointer
          transition: 0.2s color 
          &:hover, &:focus 
            color: $blue
            transition: 0.2s color 
        & input
          height: 0.9rem
          width: 0.9rem
          &:checked + span
            color: $blue
      &__image
        flex-basis: 75%
        text-align: center   
        background: none          
      &__time, &__portions
        flex-basis: 35%
        text-align: center
      &__time
        & input 
          width: 30%
          text-align: center
      &__portions
        margin-left: 5%
        & input
          width: 30%  
          text-align: center  
         
    &-description
      &__text
        margin-top: 1%
        & input
          width: 100%

    &-ingredients
      &__list
        & li
          border: none
          justify-content: flex-start
          & .ingredient
            &__name
              flex-basis: 77%
            &__number
              margin: 0 3%
              flex-basis: 8%
              width: 100%
            &__value
              flex-basis: 5%
              appearance: none
              display: block
              cursor: pointer
              background-image: url('../img/caret-down-outline.svg') 
              background-position: right
              background-repeat: no-repeat
              background-size: 30%
              font-size: 0.9rem
              background-color: transparent
          & .btn__delete
            margin-left: 1%
            flex-basis: 2%
            font-size: 1.2rem
            & ion-icon
              vertical-align: middle

    &-instruction
      & .input-group__header
        margin-bottom: 0.5%
      &__step
        width: 100%
        align-items: stretch
      &__img, &__text
        padding: 1.5% 1.5%
        border: 1px dashed $blue
        border-radius: 10px
      &__img
        flex-basis: 35%
        text-align: center
        overflow-x: hidden
      &__text
        flex-basis: 60%     
        resize: none
        overflow-y: auto
      & .btn__delete
        font-size: 1.3rem
       
  