.btn
  padding: 0.7% 1.2%
  border-radius: 3px
  color: $white
  border-width: 1px
  font-size: 0.95rem
  &:focus
    outline: none
  &_brown
    background-color: $brown
    border-color: $brown
    &:hover, &:focus
      filter: saturate(180%)
  &_red
    background-color: $red
    border-color: $red
    &:hover, &:focus
      filter: saturate(80%)
  &_blue
    background-color: $blue
    border-color: $blue
    &:hover, &:focus
      filter: saturate(180%)
  &_mobile
    display: none
    & ion-icon
      vertical-align: middle

.add-fav
  border: none
  outline: none
  color: $red
  & ion-icon
    font-size: 1.5rem
    --ionicon-stroke-width: 2.2rem  
  &:focus
    outline: none