.main-page
  color: $white
  .cards
    flex-wrap: wrap
    .card
      position: relative
      box-shadow: 0 0 20px rgba(0, 0, 0, 0.3)
      flex-basis: 23%
      height: clamp(100px, 55vh, 1000px)
      margin-bottom: 1%
      text-align: center
      background-image: url('../img/borsh.jpg')
      background-size: cover
      &__substrate
        width: 100%
        height: 100%
        background-color: #000000af
        position: absolute
        top: 0
        left: 0
        padding: 1% 3%
      &__header
        margin-top: 40%
        margin-bottom: 10%
        font-weight: 500
  a.btn 
    display: inline-block
    margin: 15% auto
    padding: 3% 4.5%
    font-size: 1rem
    &:hover
      color: $white

  .add-fav
    position: absolute
    top: 0
    right: 0

  .btn_blue
    font-size: 1rem
  


